@model LoginForProject.Models.LoginTbl

@{
    ViewBag.Title = "Login";
}


@*<div style="border-bottom-style:solid;border-color:darkgrey">
	<div style="font-family:Cambria;height:90px;margin-bottom:50px;font-size:60px"></div>
</div>*@

<div style="margin-left:30px">

	<h2 style="color:deeppink;font-size:40px;font-weight:bold">Login</h2>


	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="form-horizontal" @*style="text-align:right"*@>

			<hr />
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			<div class="form-group" style="color:black; font-weight:bold">
				@Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group" style="color:black;font-weight:bold">
				@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
				</div>
			</div>

			@*<div class="form-group">
					@Html.LabelFor(model => model.AccountNo, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.AccountNo, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.AccountNo, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
					</div>
				</div>*@

			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" style="color:mediumvioletred;background-color:dodgerblue;font-weight:bold; " value="Login" class="btn btn-default" />
					@ViewBag.data
				</div>
			</div>
		</div>
	}

	<div>
		@Html.ActionLink("Back to List", "Index")
	</div>
</div>
	@section Scripts {
		@Scripts.Render("~/bundles/jqueryval")
	}
	

